body {
    font-family: ''Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    border: 1px solid #BCBCBC;

}

#column_1, #column_2 {
    float: left;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#column_1 {
    width: 300px;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: #262626; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

#column_2 {
    padding-left: 30%;
}

/* Avatar */
.avatar img {
    margin-left: 15%;
    margin-top: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    width: 200px;
}

.menu ul {
    list-style-type: none;
    text-align: center;
    margin-left: -40px;
}

.menu ul li {
    padding-top: 30px;
    text-align: center;
}

.menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 150;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
    text-decoration: underline;
}

.content {
    margin-left: 5%;
    width: 100%;
}

.content {
    font-size: 20px;
}
.name-content h1, .name-content .dob h2 {
    font-size: 60px;
}

.title {
    font-size: 50px;
}

.git span img {
    width: 70px;
    margin-left: -2%;
}

.git span a {
    margin-left: -2%;
}

@media only screen and (min-width: 1920px) {
    body {
        font-family: ''Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    
    .container {
        border: 1px solid #BCBCBC;
    
    }
    
    #column_1, #column_2 {
        float: left;
    }
      
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    #column_1 {
        width: 300px;
        height: 100%; /* Full-height: remove this if you want "auto" height */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        background-color: #262626; /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
    }
    
    #column_2 {
        padding-left: 30%;
    }
    
    /* Avatar */
    .avatar img {
        margin-left: 15%;
        margin-top: 20px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        width: 200px;
    }
    
    .menu ul {
        list-style-type: none;
        text-align: center;
        margin-left: -40px;
    }
    
    .menu ul li {
        padding-top: 30px;
        text-align: center;
    }
    
    .menu ul li a{
        color: white;
        text-decoration: none;
        font-size: 25px;
        font-weight: 150;
    }
    
    /* Grow */
    .hvr-grow {
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        transition-duration: 0.3s;
        transition-property: transform;
    }
    
    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
        transform: scale(1.1);
        text-decoration: underline;
    }
    
    .content {
        margin-left: 5%;
        width: 100%;
    }
    
    .content {
        font-size: 20px;
    }
    .name-content h1, .name-content .dob h2 {
        font-size: 60px;
    }
    
    .title {
        font-size: 50px;
    }
    
    .git span img {
        width: 70px;
        margin-left: -2%;
    }
    
    .git span a {
        margin-left: -2%;
    }
}

@media only screen and (max-width: 1024px) {
    #column_1 {
        width: 200px;
        height: 100%; /* Full-height: remove this if you want "auto" height */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        background-color: #262626; /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
    }
    #column_2 {
        padding-left: 25%;
    }
    
    /* Avatar */
    .avatar img {
        margin-left: 13%;
        margin-top: 20px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        width: 150px;
    }
    
    .menu ul {
        list-style-type: none;
        text-align: center;
        margin-left: -40px;
    }
    
    .menu ul li {
        padding-top: 30px;
        text-align: center;
    }
    
    .menu ul li a{
        color: white;
        text-decoration: none;
        font-size: 15px;
        font-weight: 150;
    }
    
    /* Grow */
    .hvr-grow {
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        transition-duration: 0.3s;
        transition-property: transform;
    }
    
    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
        transform: scale(1.1);
        text-decoration: underline;
    }
    
    .content {
        margin-left: 5%;
        width: 100%;
    }
    
    .content {
        font-size: 18px;
    }
    .name-content h1, .name-content .dob h2 {
        font-size: 40px;
    }
    
    .title {
        font-size: 30px;
        text-decoration: underline;
    }
    
    .git span img {
        width: 70px;
        margin-left: -2%;
    }
    
    .git span a {
        margin-left: -2%;
    }
}

@media only screen and (max-width: 768px) {
    #column_1 {
        width: 150px;
        height: 100%; /* Full-height: remove this if you want "auto" height */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        background-color: #262626; /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
    }
    #column_2 {
        padding-left: 25%;
    }
    
    /* Avatar */
    .avatar img {
        margin-left: 10%;
        margin-top: 20px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        width: 120px;
    }
    
    .menu ul {
        list-style-type: none;
        text-align: center;
        margin-left: -40px;
    }
    
    .menu ul li {
        padding-top: 30px;
        text-align: center;
    }
    
    .menu ul li a{
        color: white;
        text-decoration: none;
        font-size: 15px;
        font-weight: 150;
    }
    
    /* Grow */
    .hvr-grow {
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        transition-duration: 0.3s;
        transition-property: transform;
    }
    
    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
        transform: scale(1.1);
        text-decoration: underline;
    }
    
    .content {
        margin-left: 5%;
        width: 100%;
    }
    
    .content {
        font-size: 15px;
    }
    .name-content h1, .name-content .dob h2 {
        font-size: 35px;
    }
    
    .title {
        font-size: 25px;
        text-decoration: underline;
    }
    
    .git span img {
        width: 70px;
        margin-left: -2%;
    }
    
    .git span a {
        margin-left: -2%;
    }
}

@media only screen and (max-width: 425px) {
    #column_1 {
        width: 100px;
        height: 100%; /* Full-height: remove this if you want "auto" height */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        background-color: #262626; /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
    }
    #column_2 {
        padding-left: 25%;
    }
    
    /* Avatar */
    .avatar img {
        margin-left: 10%;
        margin-top: 10px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        width: 80px;
    }
    
    .menu ul {
        list-style-type: none;
        text-align: center;
        margin-left: -40px;
    }
    
    .menu ul li {
        padding-top: 30px;
        text-align: center;
    }
    
    .menu ul li a{
        color: white;
        text-decoration: none;
        font-size: 10px;
        font-weight: 150;
    }
    
    /* Grow */
    .hvr-grow {
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        transition-duration: 0.3s;
        transition-property: transform;
    }
    
    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
        transform: scale(1.1);
        text-decoration: underline;
    }
    
    .content {
        margin-left: 5%;
        width: 100%;
    }
    
    .content {
        font-size: 10px;
    }

    .project-1 h3 span, .project-2 h3 span, .lang-list h2 {
        font-size: 12px;
    }
    .name-content h1, .name-content .dob h2 {
        font-size: 30px;
    }
    
    .title {
        font-size: 25px;
        text-decoration: underline;
    }
    
    .git span img {
        width: 70px;
        margin-left: -2%;
    }
    
    .git span a {
        margin-left: -2%;
    }
}